



@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family:'Bangers', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:rgb(253, 253, 211)
}
nav{
    display:flex;
    justify-content: center;
}

.active{
    background-color:  rgb(98, 126, 45);
    color: white;
    border: rgb(98, 126, 45);
}



#content{
    display: flex;
   flex-direction: column;
   align-items: center;
   
  
     
}

#contact-text h3 h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    letter-spacing: 2px;
    font-size: 48px;
    color:rgb(104, 104, 0);
   
    text-shadow: 3px 3px rgb(212, 205, 171);
    margin-bottom: -5px;
}

h3{
    letter-spacing: 2px;
    font-size: 38px;
    color:rgb(104, 104, 0);
   
    text-shadow: 3px 3px rgb(212, 205, 171);
    margin-bottom: -5px;
}

p{
    letter-spacing: 0.5px;
  
    color:rgb(104, 104, 0);

 
}

img{
    margin-top: 10px;
}

#promo-text{
    background-color: rgb(255, 255, 237);
    font-family:Arial, sans-serif;
    letter-spacing: normal;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px lightgray;
    font-weight: normal;
        color: rgb(44, 44, 0);
}

#promo-text>p, #contact-details{
     color: rgb(44, 44, 0);
    font-size: 14px;
    
}

#contact-details{ 
     font-family:Arial, sans-serif;
}


button{
    width: 100px;
    height: 50px;
 
    margin: 0 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: large;
    font-weight: bold;
    color: rgb(104, 104, 0);
    border: 2px solid rgb(180, 180, 1);
    border-top: none;
    background-color: yellow;
    

}

button:hover{
    background-color:rgb(98, 126, 45);
    color: rgb(255, 255, 237);
    border-color:yellow
}

.active:hover{
    background-color:rgb(60, 78, 27);
    color: white;
    border-color: yellow;
}

button:active{
    transform: translateY(2px);
}
:link{
    text-decoration: none;
    color: inherit;
}

img{
    box-shadow: 4px 4px 5px rgb(156, 156, 156);
    border-radius: 75px;
    /* margin: 0 auto; */
}

#content, .header-div, h2, p{
 
    text-align: center;
}


.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.item-card{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(212, 212, 212, 50%);
    margin: 15px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    border-radius: 5px;
    
    
}

.item-name{
    grid-area:1/1/2/10;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    margin-bottom: 1px;
   
}

.item-info{
    font-style: italic;
}
